<nav class="navbar is-primary">
<div class="navbar-end">
  <div class="navbar-item">
    <div class="field is-grouped">
      <span>
        <a class="control"> <%= button_to 'Projects', '/projects', method: :get, class: "bd-tw-button button is-link" %>
      </span>
        </a>
      <a class="control"> <%= link_to 'Log Out', '/signout', class: "button is-link" %></a>
    </div>
  </div>
</div>
</nav>
