<div class="navbar-end">
  <div class="navbar-item">
    <div class="field is-grouped">
      <a class="control"> <%= link_to 'Sign Out', '/signout', class: "button is-link" %></a>
    </div>
  </div>
</div>
