<section class="hero is-light is-bold">
  <div class="hero-body">
    <div class="container">
        <h2 class="subtitle">
          Welcome to Kerwater,
          <% if current_user %>
            <%= "#{current_user.username}" %>
          <% end %>
        </h2>
    </div>
  </div>
</section>
<div class='main-image'>
  
</div>
