

<section class="hero is-light is-bold">
  <div class="hero-body">
    <div class="container">
        <h2 class="subtitle">
          Welcome to Kerwater
        </h2>
    </div>
  </div>
</section>

<img src="/assets/kerwater_body.jpg" alt="water">
