.logo {
  font-style: bold;
  display: flex;
  align-items: center;
}

.country {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
    }

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }

.comment {
  text-align: center;
}
