.logo {
    background-image: url(<%= asset_path("kerwater.png")%>);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-style: bold;
    display: flex;
    align-items: center;
}

.main-image {
  background-image: url(<%= asset_path("kerwater_body.jpg")%>);

   height: 100%;

   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}

.country {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
    }

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
  }

.comment {
  text-align: center;
}
